body{
    background-color: #cce6ff;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 30px 20px 25px 20px;
}

.feature {
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin: 20px 50px 20px 50px;
}

.feature-one img, .feature-two img {
    height: 300px;
    border: 1px solid black;
}

.feature-one, .feature-two {
    width: 50%;
    border: 2px solid black;
    text-align: center;
    padding: 15px;
    background-color: lightpink;
    margin: 25px;
}

.footer {
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 100%;
    margin: 0;
    background-color: gainsboro;
}